<!DOCTYPE html>
<html lang="en">

<!-- *********** This is Nick's Big Comment!! *********** -->



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confluence</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Enter a latitude and longitude:</h1>
    <form action="/go_process" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col s4">Latitude: +90 (North) to -90 (South) from the equator.
            </div>
            <div class="col s4"><input type="number" name="ht_lat">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col s4">Longitude: +180 (West) to -180 (East) from the Prime Meridian.
            </div>
            <div class="col s4"><input type="text" name="ht_long">
            </div>
        </div>
        <div class="row">
            <div class="col s3">
            </div>
            <div class="col s1">
                <input id="registerbtn" type="submit" value="GO!" class="waves-effect waves-light btn-small green">
            </div>
            <div class="col s1">
                <a class="waves-effect waves-light red btn-small" href="/">Cancel</a>
            </div>
        </div>
    </form>

</body>

</html>